<<<<<<< HEAD
/* ESTO ES UN COMENTARIO EN CSS    */

body{
  /* cambio por selector de etiqueta */
  background: gray;
}
p{
  color: blue;
}
footer {
  text-align: center;
}

section {
  background: green;
}


.imagenTaza{
  width: 5%;
}

.imagenAmbulancia{
  width: 15%;
}

.imagenAmbulancia p{
  font-size: 80%;
}
.textoRaleway{
  font-family: 'Raleway', sans-serif;
}


.objeto{
  /* selector por clase */
  background: yellow;
}


.evento{
  display: inline-block;
  width: 33%;
  text-align: center;
}

.charla{
  width:50%;

}

.intermedio{
  background: orange;
  font-size: 3rem;
  border-style: dotted;
  border-color: green;
  background: blue;
}

.intermedio p{
  /* cambio de color por una regla específica que modifica la regla general */
  color: white;
}

#eventos {
  /* selector por ID */
  background: purple;
}

#miTitulo{
  /* cambio por selector de id */
  text-align: right;
}
=======
body {
  background-color: red;
  /* text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif; */
}
/*
body * {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
  margin-bottom: 0.25em;
}
*/
h2 {
    text-align: center;
    color: blue;
  /* font-weight: 700;
  font-size: 2.5em; */
}

.verde {
color: green;
}

/*
h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}
*/
#subtitulo {
  text-align: right;
  color: white;
}
/*
.subtitulo, h4, h5 {
  font-weight: 400;
}

#ubicacion h2 {
  margin: 1em auto;
}

.sweet-brown h3, .sweet-brown h5 {
  margin-bottom: 0.5em;
}

#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.oscuro {
  background: #000f08;
  color: #ffffff;
}

.oscuro a{
  color: #ffffff;
  text-decoration: none;
}


.sweet-brown {
  text-align: left;
  background: #a4452c;
  color: #ffffff;
  padding: 3.125rem;
  white-space: nowrap;
}

.hero-section {
  text-align: right;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 6.25rem 3.125rem;
}

section, footer {
  margin-top: 4.5rem;
}

footer {
  padding: 3.125rem;
}
*/
.centrado {
  text-align: center;
  /* width: 75%;
  margin: 0 auto; */
}
/*
.charla-speaker, .charla-texto, .evento {
  display: inline-block;
}

.charla-speaker{
  width: 25%;
  vertical-align: middle;
}

.charla-texto  {
  width: 72.5%;
  vertical-align: middle;
  margin-left: 2.5%;
  white-space: normal;
}

.evento {
  width: 30%;
}

.evento img {
  width: 75%;
}

nav {
  text-align: left;
  padding: 1.25rem 4rem;
  position: fixed;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.icono {
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
} */
>>>>>>> 5bfb9e8 (commit1)
